<!DOCTYPE html>
<html>
<head>
   <meta charset="utf-8">
   <title>{{ page.title }} - Pluto - Another Planet Site Generator in Ruby</title>
   <link rel="stylesheet" href="css/pluto.css"   type="text/css">
   <link rel="icon"       href="i/favicon.png"   type="image/png">

</head>
<body  style='margin: 0;'>

  {% include banner.html %}

<!-- wrap in container -->
<div style='margin: 6px;'>

  <div id="header">
    <span class='big'>Pluto</span>
    <span class='small'>a free planet site generator (for building web pages from published web feeds)</span>
  </div>

  <div id="nav">
    <a href="index.html">Home</a> | 
    <a href="command.html">Command Line Reference</a> | 
    <a href="http://planet-templates.github.io/gallery">Template Gallery</a> | 
    <a href='http://planet-templates.github.io'>Template Reference</a> | 

    <a href="http://groups.google.com/group/feedreader">What's New? Forum (Questions? Comments?)</a> |

    <a href="https://github.com/feedreader">Tool & Code Repos</a>
  </div>

    <div id="content">
      {{ content }}
      
      {% include editme.html %}
    </div>

</div>
</body>
</html>
